$background: white;
$color: black;

$active_background: #2979ff;
$active_color: white;

$hover_background: rgba(#2979ff, 0.5);
$hover_color: white;

$padding: .4rem .6rem;

$border_size: 1px;
$border: $border_size solid $color;
$border_radius: 2px;
$box-shadow: 0 2px 2px rgba(black, 0.2);

$symbol_up: '⯅';
$symbol_down: '⯆';

$symbol_checked: '✓';
$symbol_checked_bold: '✔';

@mixin transition{
    transition: all 0.2s ease-out;
}

@mixin colors {
    background: $background;
    color: $color;
}
@mixin activeColors {
    background: $active_background;
    color: $active_color;
}
@mixin hoverColors {
    background: $hover_background;
    color: $hover_color;
}

@mixin border {
    border: $border;
    border-radius: $border_radius;
}

@mixin box-shadow {
    box-shadow: $box_shadow;
    border-radius: $border_radius;
}

@mixin element {
    position: relative;
    background: $background;
    color: $color;
    border: $border;
    border-radius: $border_radius;

    padding: 0;

    &.focus {
        box-shadow: 0 0 5px $active_background;
    }

    > input,
    > textarea,
    > select
    {
        width: 100%;
        padding: $padding;
        border: none;
        outline: none;
    }
}

@mixin absolute-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
