.custom-input-checkbox {
    @include element;

    padding: 0;
    position: relative;
    display: inline-block;
    line-height: 0;
    overflow: hidden;

    cursor: pointer;


    > input[type="checkbox"] {
        opacity: 0;
        cursor: pointer;
        min-width: 100%;
        min-height: 100%;
    }


    &:before {
        content: "";
        @include absolute-fill;
        @include flex-center;
        pointer-events: none;
    }
    &.active:before {
        content: $symbol_checked;
        @include activeColors;
    }
    &:hover:before {
        @include hoverColors;
    }
}
